name: Tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/pytest.yml'
      - '**/*.py'
      - 'pyproject.toml'
      - 'poetry.lock'

  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/pytest.yml'
      - '**/*.py'
      - 'pyproject.toml'
      - 'poetry.lock'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "poetry"
          cache-dependency-path: poetry.lock

      - name: Install dependencies
        run: |
          poetry install
      
      - name: Lint using ruff
        run: |
          poetry run ruff check . --statistics

      - name: Run tests
        run: |
          poetry run pytest

      - name: Test build
        run: |
          sudo apt install libsdl2-2.0-0
          make clean
          make all
